.main-container {
  display: flex;
  flex-direction: column;
  padding: 15px 190px;
  gap: 20px;
  @media (width < 1280px) {
    padding: 20px;
  }
}

.form-booking {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 450px;
}

.info-user-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-user-container > .input-outline {
  width: 48%;
}
